<section class="footer-section mt-5">
    <div class="container" data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
        <div class="social-sec">
            <span class="social-title">Connect with us: </span>
            <span class="social-img">
                <a href="#"><img src="assets/images/social-twr.png" alt=""></a>
                <a href="#"><img src="assets/images/social-fb.png" alt=""></a>
                <a href="#"><img src="assets/images/social-ins.png" alt=""></a>
                <a href="#"><img src="assets/images/social-skype.png" alt=""></a>
                <a href="#"><img src="assets/images/social-in.png" alt=""></a>
            </span>
        </div>
    </div>

    <div class="footer-mid">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12" data-aos="zoom-in-up" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
                    <div class="address-box d-flex align-items-center gap-4">
                        <span><i class="fa-solid fa-location-dot m-2 fa-2x text-white"></i></span>
                        <div class="ml-3">
                            <h5 class="lt-blue-c">Oraappstech LLP</h5>
                            <p>
                                C 206, 2nd Floor, Business Park, US, Canada, UK.
                            </p>
                            <h5 class="lt-blue-c">Oraappstech LLP</h5>
                            <p>
                                Flat No 51, Hi-rise homes phase-2
                                Road No-1; Vasant Nagar Colony, Nizampet
                                HYDERABAD, Telangana 500090
                                India.                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3 xs-mb-1" data-aos="zoom-in-up" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
                    <div class="footer-box text-center mx-lg-4">
                        <i class="fa-regular fa-envelope fa-2x mt-4" style="color: #eff1f6;"></i>
                        <div class="mt-3">
                            <div class="p-0">
                                <a class="text-decoration-none text-white fs-5" href="mailto:sales@oraappstech.online">info&#64;oraappstech.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-3" data-aos="zoom-in-up" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
                    <div class="footer-box text-center mx-lg-4">
                        <div class="foo-contact-icon">
                            <i class="fa-brands fa-whatsapp"></i>
                            <i class="fa-solid fa-phone"></i>
                        </div>
                        <div class="mt-3">
                            <p class="base-h4">+91  63033 22050</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right-section text-center">
        <div class="lt-blue-c py-4">
            2025 &copy;Copyright Oraappstech. All Rights are Reserved.
        </div>
    </div>


</section>