<main>
    <img src="assets/images/about-us-bnr.jpg" class="img-fluid">

    <section class="bg-light py-5 text-justify">
        <div class="container">
            <section class="mt-5">
                <div class="row">
                    <div class="col-lg-6" data-aos="fade-left" data-aos-once="true"
                        data-aos-anchor-placement="center-bottom" data-aos-duration="2000">

                        <h2 class="base-h2 lt-blue-c">Who We Are</h2>
                        <p class="fs-5">
                            Founded in 2010, OraAppsTechSol is a dynamic technology company committed to innovation and excellence. 
                            With a team of 50+ skilled professionals, we bring expertise in consulting, software development, UI/UX design, AI solutions, and more. 
                            Our goal is to empower businesses with customized digital solutions that enhance performance and growth.
                        </p>
                        <p class="fs-5">
                            We believe in a user-first approach, ensuring every solution we build is intuitive, functional, and future-ready. 
                            By combining creativity with technical excellence, we help businesses stay ahead in the ever-evolving digital landscape.
                        </p>
                    </div>
                    <div class="col-lg-6" data-aos="fade-right" data-aos-once="true"
                        data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
                        <img src="assets/images/about-us-1.jpg" class="img-fluid shadow" alt="">
                    </div>
                </div>
            </section>
        </div>
    </section>

    <div class="container text-justify">
        <section class="row mt-5">
            <div class="col-lg-6" data-aos="fade-down" data-aos-once="true" data-aos-anchor-placement="center-bottom"
                data-aos-duration="2000">
                <div class="card px-md-3 shadow">
                    <div class="card-body">
                        <h2 class="base-h4 lt-blue-c py-3"> Our Mission</h2>
                        <img src="assets/images/our-mission.jpg" class="img-fluid mb-3" alt="our mission">
                        <p class="fs-5">
                            To empower businesses with innovative, scalable, and cost-effective technology solutions, enabling them to achieve operational excellence, 
                            enhance customer experiences, and stay ahead in the competitive digital landscape.
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-lg-6" data-aos="fade-down" data-aos-once="true" data-aos-anchor-placement="center-bottom"
                data-aos-duration="3000">
                <div class="card px-md-3 shadow">
                    <div class="card-body">
                        <h2 class="base-h4 lt-blue-c py-3">Our Vision</h2>
                        <img src="assets/images/our-vision.jpg" class="img-fluid mb-3" alt="our vision">
                        <p class="fs-5">
                            To be a globally recognized technology leader, known for delivering cutting-edge solutions that drive business growth, 
                            digital transformation, and technological innovation across industries.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-cta mt-5 mb-5 shadow-lg" data-aos="fade-down" data-aos-once="true"
            data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
            <h2>Build the Future with Us</h2>
            <p>
                Join our team of innovators and explore new opportunities to grow, create, and make a difference.
            </p>
            <a routerLink="/contact-us" href="#" class="cta-button">Get in Touch</a>
        </section>
    </div>
</main>