.container-fluid {
    background: linear-gradient(135deg, #dbeafe, #ffffff);
  }
  
  h1, h2, h5 {
    font-weight: bold;
  }
  
  .shadow-sm {
    transition: transform 0.3s ease-in-out;
  }
  
  .shadow-sm:hover {
    transform: scale(1.05);
  }


  .about-cta {
    background: var(--blue);
    color: #fff;
    text-align: center;
    padding: 3rem;
    border-radius: 10px;
}

.cta-button {
    display: inline-block;
    background-color: var(--lt-blue);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #053b8b;
}
.proj-support-box{
    background: linear-gradient(165deg, #003569 38%, #68bdd9);
}


  