<main>
    <img src="assets/images/consult-outsourcing.jpg" class="img-fluid">
    <div class="container">
      <br>
      <section class="mt-5">
        <div class="row">
          <div class="col-lg-6" data-aos="fade-left" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
            <h2 class="lt-blue-c">Consulting and Outsourcing Services</h2>
            <p class="fs-5">At OraAppsTech, we provide expert IT consulting and outsourcing services designed to help businesses streamline operations,
                 reduce costs, and enhance productivity. Our consulting process begins with a detailed assessment of your business needs, challenges, and 
                 goals. We analyze your existing systems, identify gaps, and recommend tailored strategies to improve efficiency and scalability. 
                 Our team of industry experts ensures that businesses adopt the right technologies, frameworks, and methodologies to stay ahead
                  in a competitive market.
            </p>
          </div>
          <div class="col-lg-6"  data-aos="fade-right" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
            <img src="assets/images/outsourcing.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </section>
      <div class="row mt-5">
        <div class="col-lg-5"  data-aos="fade-left" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
          <img src="assets/images/outsourcing-1.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-lg-7" data-aos="fade-left" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
          <p class="fs-5">
            Once the strategy is defined, our outsourcing process begins with selecting the right talent and resources to execute the project.
             We provide dedicated teams, managed services, and staff augmentation, ensuring businesses have the right expertise without the 
             overhead of in-house hiring. Our outsourcing model is built on transparency, flexibility, and efficiency, 
             allowing seamless collaboration and faster project execution while maintaining high-quality standards.
          </p>
          <p class="fs-5">
           
          </p>
        </div>
      </div>
    </div>
    <section class="wrap-outsourcing">
        <div class="container">
            <div class="row">
              <div class="col-12 mt-5" data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
                <div class="white-box">
                    <h1 class="lt-blue-c"></h1>
                    <p class="fs-5">With continuous monitoring and support, we ensure that our consulting and outsourcing solutions drive long-term success. Our experts provide ongoing maintenance, optimization, and performance analysis to keep businesses ahead of industry trends. By partnering with OraAppsTech, companies gain access to cutting-edge technology, global expertise, and cost-effective solutions to accelerate growth and achieve operational excellence.</p>
                </div>
                
              </div>
            </div>
          </div>
    </section>
  </main>