<main>
    <img src="assets/images/training-bnr.jpg" class="img-fluid">
    <div class="container">
        <section class="mt-5">
            <div class="row">
                <div class="col-lg-12" data-aos="fade-down" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
                    <h1 class="lt-blue-c">Empowering Professionals with Expert IT Training</h1>
                    <div>
                        <p class="fs-5">At OraAppsTech, we provide comprehensive IT training programs designed to help individuals and businesses stay ahead in the ever-evolving tech landscape. Our training modules cover a wide range of cutting-edge technologies, including cloud computing, cybersecurity, software development, data analytics, AI, and UI/UX design. Whether you are a beginner or an experienced professional looking to upskill, our structured programs cater to all skill levels, ensuring a hands-on learning experience that bridges the gap between theory and real-world application.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
                    <img src="assets/images/traning.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6" data-aos="fade-left" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
                    <h1 class="lt-blue-c">Industry-Focused Learning Approach</h1>
                    <p class="fs-5">
                        Our IT training programs follow an industry-driven approach, incorporating practical projects, live demonstrations, and interactive sessions. We believe in learning by doing, and our courses are structured to provide real-world exposure through case studies, simulations, and project-based learning. Our expert trainers, with years of industry experience, guide learners through the latest tools and technologies, ensuring they gain the necessary skills to excel in modern IT environments.
                    </p>
                   
                </div>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-6" data-aos="fade-left" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
                        <h4 class="lt-blue-c">Flexible and Career-Oriented Training Programs </h4>
                        <p class="fs-5">Understanding the need for flexibility, we offer both online and in-person training options, allowing professionals to learn at their own pace. Our certification-based training programs are designed to enhance employability and career growth, helping individuals land better job opportunities or advance within their organizations. At OraAppsTech, our mission is to equip learners with job-ready skills, empowering them to thrive in the competitive IT industry with confidence and expertise.</p>
                        
                    </div>
                    <div class="col-lg-6" data-aos="fade-right" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="2000">
                        <img src="assets/images/career.avif" alt="" class="img-fluid w-75">
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>