<main>
    <img src="assets/images/software-development-bnr.jpg" class="img-fluid">
    <section class="services py-5 mt-5">
        <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <img src="assets/images/app-development.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 box-align">
                <div class="service-card p-4 shadow-sm" data-aos="fade-down" data-aos-once="true"
                data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
                <div class="service-icon mb-3">
                  <h5 class="fw-bold lt-blue-c">App Development</h5>
                  <p class="text-justify">
                    Our mobile app development services cover iOS, Android, and cross-platform solutions, delivering high-performance apps with advanced functionalities, seamless UI/UX, and strong security to meet business and customer needs.
                  </p>
                </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 box-align">
                <div class="service-card p-4 shadow-sm" data-aos="fade-down" data-aos-once="true"
                data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
                <div class="service-icon mb-3">
                  <h5 class="fw-bold lt-blue-c">Software Development</h5>
                  <p class="text-justify">
                    We specialize in custom software development, delivering scalable, secure, and high-performance solutions tailored to your business needs. From enterprise applications to cloud-based solutions, we use the latest technologies to build robust and future-ready software.
                  </p>
                </div>
                </div>
              </div>
              <div class="col-lg-6">
                <img src="assets/images/software-dvlpmnt.jpg" class="img-fluid" alt="">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <img src="assets/images/ui-ux-design.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 box-align">
                <div class="service-card p-4 shadow-sm" data-aos="fade-down" data-aos-once="true"
                data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
                <div class="service-icon mb-3">
                  <h5 class="fw-bold lt-blue-c">UI/UX Design</h5>
                  <p class="text-justify">
                    Our UI/UX design services focus on crafting intuitive, user-friendly interfaces that enhance engagement and user satisfaction. We use human-centered design principles to create seamless digital experiences for websites, applications, and enterprise software.
                  </p>
                </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 box-align">
                <div class="service-card p-4 shadow-sm" data-aos="fade-down" data-aos-once="true"
                data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
                <div class="service-icon mb-3">
                  <h5 class="fw-bold lt-blue-c">Generative AI Services</h5>
                  <p class="text-justify">
                    Leverage the power of Generative AI to automate tasks, enhance productivity, and create intelligent solutions. From AI-powered chatbots to content generation, we integrate AI-driven technologies to boost efficiency and innovation.
                  </p>
                </div>
                </div>
              </div>
              <div class="col-lg-6">
                <img src="assets/images/generative-ai.jpg" class="img-fluid" alt="">
              </div>
            </div>
        </div>
    </section>
  </main>