<main>
    <img src="assets/images/ux-ui-bnr.jpg" alt="" class="img-fluid w-100 mb-lg-5">
    <section class="py-5 mt-5 bg-light">
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-6 col-lg-4 mb-3" data-aos="fade-down" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
                    <div class="card">
                        <div class="card-body">
                            <div class="offering-icon mb-3">
                                <img src="assets/images/ux-ui-1.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="offer-content">
                                <h3 class="base-h3 lt-blue-c">Enhancing Digital Experiences with UI/UX Design</h3>
                                <p>
                                    At OraAppsTech, we craft intuitive and user-friendly UI/UX designs that elevate digital experiences and drive engagement. Our design process begins with in-depth user research, where we analyze user behavior, pain points, and expectations. This enables us to create interfaces that are not only visually appealing but also functional and accessible. We focus on user-centric design principles to ensure seamless navigation and improved usability across all platforms, including web and mobile applications.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3" data-aos="fade-down" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
                    <div class="card">
                        <div class="card-body">
                            <div class="offering-icon mb-3">
                                <img src="assets/images/wireframe.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="offer-content">
                                <h3 class="base-h3 lt-blue-c">From Wireframes to Stunning Designs</h3>
                                <p>
                                    Our UI/UX design process includes wireframing, prototyping, and iterative design improvements to create visually stunning and highly functional interfaces. Using industry-leading tools like Figma, Adobe XD, and Sketch, we design interactive wireframes that allow clients to visualize the final product before development begins. Our designers prioritize aesthetics, responsiveness, and accessibility, ensuring that the final product aligns with brand identity and enhances user satisfaction.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-3" data-aos="fade-down" data-aos-once="true" data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
                    <div class="card">
                        <div class="card-body">
                            <div class="offering-icon mb-3">
                                <img src="assets/images/optimized-img.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="offer-content">
                                <h3 class="base-h3 lt-blue-c">Optimized for Performance and Engagement</h3>
                                <p>
                                    A well-designed UI/UX can significantly impact business growth by increasing user retention, conversion rates, and overall engagement. At OraAppsTech, we focus on performance-driven UI/UX strategies, ensuring that every interaction feels smooth and effortless. Our team implements responsive designs, accessibility standards, and modern UI trends to create scalable solutions that enhance customer experience. Whether you're building a website, mobile app, or enterprise software, our expert UI/UX design services guarantee a visually compelling and highly functional digital presence.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    
</main>