.banner-section{
    background: #102441;
    padding-top: 60px;
}
.job-position-banner-text-wrap{
    z-index: 1;
    text-align: center;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    position: relative;
}
.text-white.jib-position-banner {
    font-size: 68px;
    line-height: 1.1em;
}
.publication-details-wrapper {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: flex;
}
.job-position-banner-details-wrap {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    p{
        margin: 0;
        padding: 0;
    }
}
.white-banner-text {
    color: #fff;
}
.job-details-grid {
    z-index: 1;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    border: 1px solid var(--light-gray);
    background-color: var(--white);
    border-radius: 8px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    place-items: center;
    width: 100%;
    margin-top: 40px;
    padding: 20px 60px;
    display: grid;
}
.job-details-grid-cell {
    text-align: center;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    display: flex;
}
.job-detail-title {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -10px;
    display: flex;
}
.paragraph-large {
    letter-spacing: .4px;
    font-size: 18px;
    line-height: 1.5em;
    padding: 0;
    margin: 7px 0;
}

.job-position-wrapper {
    align-items: flex-start;
    display: flex;
    position: relative;
}
.primary-button {
    border: 1px solid #064bb5;
    background-color: #064bb5;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 14px 32px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5em;
    transition: all .3s;
    display: inline-block;
}
.job-position-section{
padding-top: 120px;
ul {
    grid-row-gap: 15px;
    color: #102441;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    display: flex

}
li {
    align-items: center;
    line-height: 1.4em;
    color: #102441;
}
}
h1 {
    color: #102441;
    letter-spacing: .4px;
    text-transform: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Instrument Sans, sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2em;
    p {
        letter-spacing: .2px;
        margin-top: 10px;
        margin-bottom: 10px;
        line-height: 1.5em;
        color: #102441;
    }
}
h2{
    color: #102441;
    letter-spacing: .4px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Instrument Sans, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.15em;
}
.job-position-sidebar-wrapper {
    border: 1px solid #e4e5e8;
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
}
.job-position-sidebar-wrap {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    display: flex;
}
.job-position-sidebar-wrap.with-bp {
    padding-bottom: 10px;
}
.o-inline-block {
    max-width: 100%;
    display: inline-block;
}
.company-contact-link {
    color: var(--paragraph-gray);
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 1.5em;
}
.job-position-icon {
    color:#064bb5;
    font-family: "Fa solid 900", sans-serif;
    font-size: 18px;
    line-height: 1em;
}
.company-contact-link {
    color: #383750;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 1.5em;
}
.sidebar-job-wrapper {
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    flex-flow: column;
    flex: 1;
    display: flex;
    position: sticky;
    top: 100px;
    right: 0;
    width:70%;
    p{
        margin: 0;
    }
}
.company-logo {
    cursor: pointer;
    width: 100%;
    height: 46px;
}

@media screen and (max-width: 479px) {
    .job-details-grid {
        grid-template-columns: 1fr;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
@media screen and (max-width: 767px) {
    .job-details-grid {
        place-items: center start;
    }
    .text-white.jib-position-banner, .text-white.landing-banner-title {
        font-size: 52px;
    }
    .job-details-grid-cell {
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media screen and (min-width: 1280px) {
    .job-position-banner-details-wrap {
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-content: flex-start;
        align-items: center;
        display: flex;
    }
}
@media screen and (min-width: 1440px) {
    .job-position-banner-text-wrap {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .sidebar-job-wrapper {
        position: sticky;
        top: 100px;
        right: 0;
    }
}
